{
    "reporter": [
      "lcov",
      "text"
    ],
    "include": [
      "lib/**"
    ],
    "all": true,
    "statements": 100,
    "branch": 89.47,
    "functions": 100,
    "lines": 100,
    "check-coverage": true
}
